<div id="footer">
	<div class="foot-item clearfix display-none">
		<div class="f-item">
			<h4>客服电话</h4>
			<h3 class="margin-top-20">0954-2821888</h3>
			<p class="margin-top-20">9:00-18:00</p>
		</div>
		<div class="f-item">
			<h4>何为No.1</h4>
			<p class="text-left margin-top-20">以商家为核心、以消费者为支撑、以平台为载体，三方共同形成互联网、物联网、人际网三网合一的经济共享圈。</p>
		</div>
		<div class="f-item">
			<h4>加入我们</h4>
			<img src="/images/icon/join.png" alt="加入我们">
		</div>
	</div>
    <div class="foottext">
        <p><a href="#">NO.1简介</a>&nbsp;|&nbsp;<a href="#">帮助中心</a>&nbsp;|&nbsp; <a href="#">招纳贤士</a>&nbsp;|&nbsp;<a href="#">联系我们</a>
        <p>ICP证：宁ICP备16001386号-1</p>
        <p>Powered by GeniusGroupCraft.com 2016</p>
    </div>
</div>