<div id="header">
    <div id="logo">
        <div class="com-w clearfix">
            <div class="logo-bar fl">
                <a href="/"><img src="/images/logo.png" alt="NO.1商城" /></a>
            </div>
            <div class="search-box fr">
                <a href="/ShoppingCart" class="shop-car fr"><!-- <span class="badge">1</span> --></a>
                <input type="text" class="search-text fl" placeholder="圣像实木复合地板" />
                <input type="button" value="搜 索" class="search-btn fl" />
            </div>
        </div>
    </div>
</div>