<div class="col-md-10 col-xs-9">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">充值</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal margin-top-20" action="/CreateAccountOrder/recharge/account-order" method="POST" role="form">
				<div class="form-group">
					<label class="col-md-2 col-xs-12 control-label" for="price">账户充值：</label>
					<div class="col-md-4 col-xs-12">
						<input type="text" class="form-control" id="price" name="price" placeholder="请输入充值金额">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-xs-3 col-md-offset-2 col-xs-offset-2 font-grey">
						<p><small></small></p>
					</div>
				</div>
				
				<fieldset class="fieldset-style">
                    <div class="col-md-4 col-xs-6 col-md-offset-4 col-xs-offset-2 margin-top-20">
                        <input class="btn btn-no1 btn-block" type="submit" value="提交">
                    </div>
                </fieldset>
			</form>
		</div>
	</div>
</div>