<div class="text-center margin-top-200 margin-bottom-500">
	<img src="/images/result_success.png" alt="操作成功">	
	<h4 class="margin-top-20">操作成功!&nbsp;&nbsp;&nbsp;&nbsp;
		<small><a href="/">立即返回</a></small>
	</h4>
</div>
