<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>卖家中心</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
		<link rel="stylesheet" href="/stylesheets/common.css">
		<link rel="stylesheet" href="/stylesheets/usercenter.css">
		<link rel="stylesheet" href="/stylesheets/mobile_usercenter.css" media="screen and (max-width: 768px)">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		{{> header}}
		
	    <div class="container">
        	<div class="row ">
        		{{> sellercenter_sidebar}}
        		{{{body}}}
        		
        	</div>
        </div>
        
		
		<!-- jQuery -->
		<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
		<!-- jquery chained -->
		<script src="//cdn.bootcss.com/jquery-chained/1.0.0/jquery.chained.min.js"></script>
		<script src="//cdn.bootcss.com/jquery-chained/1.0.0/jquery.chained.remote.min.js">
		</script>
		<script src="/javascripts/SMSCodeSender.js"></script>
		<script src="/javascripts/EmailCodeSender.js"></script>
		<script src="/javascripts/seller-goods-mgt.js"></script>
	</body>
</html>
