<div class="col-md-10 col-xs-9">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">密码修改</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="/accountsettings/security-info/password-update" method="post">
                <fieldset>                           
                    <div class="form-group col-md-10 col-xs-12">
                        <label for="oldPassWord" class="col-md-2 col-xs-12 control-label">当前密码:</label>
                        <div class="col-md-5 col-xs-12">
                            <input class="form-control" id="oldPassWord" placeholder="当前密码" name="oldPassWord" type="password">
                        </div>
                    </div>
                    <div class="form-group col-md-10 col-xs-12">
                        <label for="passWord" class="col-md-2 col-xs-12 control-label">新密码:</label>
                        <div class="col-md-5 col-xs-12">
                            <input class="form-control" id="passWord" placeholder="新密码" name="passWord" type="password">
                        </div>
                    </div>
                    <div class="form-group col-md-10 col-xs-12">
                        <label for="passWord1" class="col-md-2 col-xs-12 control-label">确认密码:</label>
                        <div class="col-md-5 col-xs-12">
                            <input class="form-control" id="passWord1" placeholder="确认密码" name="passWord1" type="password">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset-style col-md-12 col-xs-12">
                    <div class="col-md-3 col-xs-6 col-md-offset-4 col-xs-offset-2">
                        <input class="btn btn-no1 btn-block" type="submit" value="保存">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {{#if success}}
    <div class="alert alert-success" role="alert">操作成功</div>
    {{/if}} {{#if failure}}
    <div class="alert alert-danger" role="alert">操作失败</div>
    {{/if}}
</div>