<div class="col-md-10 col-xs-9 collection">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">收藏的宝贝</h3>

		</div>
		<div class="panel-body">
			<div class="col-md-12 col-xs-12">
                <div class="col-md-3 col-xs-3">
                    <div class="thumbnail">
                        <img src="/images/pds_shopimg.jpg" alt="...">
                        <div class="caption">
                            <p><a href="#">Apple/苹果 iPhone 7 Plus 手机苹果7p 七代港版国行现货</a></p>
                            <h5 class="text-center font-red line-height-3">¥7199.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="thumbnail">
                        <img src="/images/pds_shopimg.jpg" alt="...">
                        <div class="caption">
                            <p><a href="#">Apple/苹果 iPhone 7 Plus 手机苹果7p 七代港版国行现货</a></p>
                            <h5 class="text-center font-red line-height-3">¥7199.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="thumbnail">
                        <img src="/images/pds_shopimg.jpg" alt="...">
                        <div class="caption">
                            <p><a href="#">Apple/苹果 iPhone 7 Plus 手机苹果7p 七代港版国行现货</a></p>
                            <h5 class="text-center font-red line-height-3">¥7199.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="thumbnail">
                        <img src="/images/pds_shopimg.jpg" alt="...">
                        <div class="caption">
                            <p><a href="#">Apple/苹果 iPhone 7 Plus 手机苹果7p 七代港版国行现货</a></p>
                            <h5 class="text-center font-red line-height-3">¥7199.00</h5>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>